*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.header{
    background-image: url("./images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 60px 120px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar ul li{
display: inline;
margin-left: 20px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}

.title{
    margin-top: 15%;
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 250;
    width: 45%;
    border: 2px solid white;
    padding: 20px;
    }

.main{
  padding: 60px 120px;
  /* width: 110%; */
}  

    .section1{
        display: flex;
        width: 110%;

    }
    .section1 div{
        display: block;
        width: 40%;
        margin-top: 18%;
        padding: 70px;
        margin-left: -11%;
        background-color: white;
    }
    .section1 h2{
        font-size: 2.3rem;
        font-weight: 300;
    }
    .section1 p{
        font-size: 0.9rem;
        margin-top: 5%;
        font-weight: 250;
    }
    .section1 img{
        width: 55%;
        height: 80%;
    }

    .init{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 2rem;
        text-transform: uppercase;
    }
    .init h3{
        font-weight: 250;
    }
    .init button{
        width: 10%;
        height: 200%;
    }

    .section-sub1{
        display: flex;
        gap: 30px;
        margin-bottom: 2.5%;
    }
    .section-sub1 div p{
        text-transform: uppercase;
        font-size: 2rem;
        width: 55%;
        font-weight: 320;
        margin-top: -40%;
        margin-left: 10%;
        color: white;
    }

    .section-sub2{
        display: flex;
        gap: 30px;
        margin-top: 2.5%;
    }
    .section-sub2 div p{
        text-transform: uppercase;
        font-size: 2rem;
        width: 55%;
        font-weight: 320;
        margin-top: -40%;
        margin-left: 10%;
        color: white;
    }

    .footer{
        background-color: black;
        color: white;
        padding: 60px 120px;
        height: 20%;
    }
    .footer1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .footer1 nav ul li{
        display: inline;
    }
    .footer1 nav ul li a{
        text-decoration: none;
        color: white;
        margin-right: 10px;
    }
    .footer1 img{
        margin-left: 10px;
    }
    .footer2{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .footer2 nav ul li{
        display: inline;
    }
    .footer2 nav ul li a{
        text-decoration: none;
        color: white;
        margin-left: 10px;
    }
    .footer2 p{
        font-weight: lighter;
    }

    .attribution{
        margin-bottom: -50px;
    }